body {
    margin: 0;
    padding: 0;
    background-color: rgb(235, 231, 231);
    color: black;
    font-family:'montserrat',sans-serif ;
}

.icon {
    vertical-align: middle;
    line-height: 1px;
    font-size: 20px;
}
.icon_header {
    vertical-align: middle;
    line-height: 1px;
    font-size: 26px;
    color: white;
}
.icon, .icon_header {
    margin-right: 5px;
}

.close_icon {
    color: red;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.grid-container{
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 'sidebar header header header' 'sidebar main main main';
    height: 100vh;
}

/*Header*/
.header {
    grid-area: header;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}

.menu-icon {
    display: none;
}
/*End Header*/

/*Sidebar*/
    #sidebar {
        grid-area: sidebar;
        height: 100%;
        background-color: #010a1b;
        overflow-y: auto ;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        
    }

    .sidebar-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px 0px 30px;
        margin-bottom: 30px;
        color: white;
    }

    .sidebar-title > span {
        display: none;
    }

    .sidebar-brand {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 700;
    }

    .sidebar-list {
        padding: 0;
        list-style-type: none;
    }

    .sidebar-list-item {
        padding: 20px 20px 20px 20px;
        font-size: 18px;
    }

    .sidebar-list-item:hover {
        background-color: rgba(134, 123, 182, 0.2);
        cursor: pointer;
        border-radius: 15px;
    }

    .sidebar-list-item > a {
        text-decoration: none;
        color: #9e9ea4;
    }
    .sidebar-responsive {
        display: inline !important;
        position:absolute;
    

        z-index: 12 !important;
    }

   
    .about {
        font-size: small;
        text-decoration: none;
        color: #9e9ea4;
    }

    .login {
        position: absolute;
        bottom: 20px;
        color: white;
        padding: 10px 140px 10px 15px;
        font-size: 18px;
        background-color: #3a4b6b;
        width: 88px;
        border-radius: 10px;
       
    }
/*End Sidebar*/

/*Home*/
.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
}

.main-title {
    display: flex;
    justify-content: space-between;
}

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: white;
}
.card:hover {
    transform: translatey(-5px);
}

.symbol-doller{
    color: green;
    border-radius: 50%;
    background-color: greenyellow;
    height: 50px;
    width: 50px;
}
.symbol-book{
    color: purple;
    border-radius: 50%;
    background-color: plum;
    height: 50px;
    width: 50px;
}
.symbol-wallet{
    color: blue;
    border-radius: 50%;
    background-color: skyblue;
    height: 50px;
    width: 50px;
}
.symbol-bag{
    color: red;
    border-radius: 50%;
    background-color:pink;
    height: 50px;
    width: 50px;
}

.card-inner {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}
.topic {
    font-size: 12px;
    color: #9e9ea4;
}
.amount {
    font-size: 25px;
    font-weight: bold;
    color: black;
}
.growth {
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.growth-value-up{
    color: green;
}
.growth-value-down{
    color: red;
}

.card-inner >.card_icon {
    font-size: 25px;
}

/* .charts {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
    padding-top: 20px;
    height: 250px;
    background-color: white;
    border-radius: 15px;
} */

.chart-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    overflow-x: auto;
}
.chart-heading {
    display:flex;
    flex-direction: column;
    overflow-x: auto;
    justify-content:space-between;
   background-color: white;
   color: black;
   margin-top: 20px ;
   border-radius: 15px;
   padding: 15px;
   width: 700px;
   height: 300px;
   margin-right: 15px;
   
}
.circle-chart {
    display:flex;
    background-color: white;
    justify-content:space-between;
    color:black;
    width: 250px;
    height: 300px;
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
}
.circle-chart-inner {
    padding: 0 25px 25px 25px;
}
.bar-heading {
    display: grid;
    margin-top: -10px
}

.chart-drop {
    display:flex;
    justify-content:flex-end;
}
/*End Home*/

/*table*/
    .table-wrapper {
        display: grid;
        color: black;
        background-color: white;
        margin-top: 20px;
        border-radius: 15px;
        padding: 1rem;
        padding-top: 0px;
        overflow-x: auto;

    }
    .table-container {
        width: 100%;

    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        grid-template-columns: 3fr 1fr 1fr 1fr;
    }
    .table-title {
        display:inline-flex;
    }
    .search-box {
        display: inline-flex; 
    }
.img {
    border-radius: 10px;
    vertical-align: middle;
    margin-right: 2rem;
    margin-top: 1rem;
}
.admin-img {
    border-radius: 50%;
    vertical-align:middle;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.image-cell {
    display:flex;
    align-items: flex-end;
}
.title-row {
    display: flex;
    align-items:center;
    justify-content: space-between;
}
    thead {
        text-align: left;
        font-size: small;
        color: #9e9ea4;
        border-bottom: 2px solid;
        
    }
   
    td {
        font-size: 15px;
        text-align: left;
    }

    .right-data {
        text-align:center;
    }
 
/*End table*/

/*Medium <=992px */

@media screen and (max-width:992px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: 'header' 'main';
    }

    #sidebar {
        display: none;
    }

    .menu-icon {
        display: inline;
    }

    .sidebar-title > span {
        display: inline;
    }
    .chart-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
    }
}

/*small <=768px */

@media screen  and (max-width:768px) {
   
    .main-cards {
        grid-template-columns:  1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .chart-container {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 20px;
        
    }
    .chart-heading {
        display: grid;
        grid-template-columns: 1fr;
    }
   .table-wrapper {
    display: grid;
    grid-template-columns: 1fr;
   }
  
}

/*extra small <=576*/

@media screen and (max-width:576px) {
   .header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
   }
   .title-row {
    display: flex;
    align-items: flex-end;
   }

   
}